@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-body: 'Roboto', sans-serif;
	--color-bg-0: rgb(255, 255, 255);
	--color-bg-1: hsl(0, 0%, 0%);
	--color-text-1: rgba(0, 0, 0);
	--color-text-2: rgba(255, 255, 255);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body {
	overflow-x: hidden;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-0);
}
